.roster {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, 450px);
  margin: 0 auto;
}

html {
  text-align: center;
  background-color: black;
  background: url("https://i.imgur.com/3UxkcJ8.jpg");
  background-size: cover;
}
/* http://getwallpapers.com/wallpaper/full/1/e/c/1254729-desktop-space-backgrounds-1920x1080-notebook.jpg */
/* https://i.imgur.com/3UxkcJ8.jpg */

.image {
  margin-left: 15%;
  padding: 10px;
}

.roster-click {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47%;
  margin-bottom: 30%;
  margin-top: 10%;
}

.name {
  margin-left: 55px;
  text-align: center;
}

.title {
  color: teal;
  font-size: 50px;
  -webkit-text-stroke: lightgreen 2px;
  /* font-family: 'get_schwifty'; */
}

.slogan {
  color: teal;
  font-size: 30px;
  -webkit-text-stroke: lightgreen 1px;
}

.char-info {
  color: teal;
  -webkit-text-stroke: lightgreen 1px;
}

.name {
  color: teal;
  -webkit-text-stroke: lightgreen 0.5px;
}

.identity {
  margin-left: 55px;
  color: teal;
  -webkit-text-stroke: lightgreen 0.5px;
}

.nav-list {
  font-size: 25px;
  padding: 5px;
  background-color: black;
  border: solid lightgreen 2px;
  border-radius: 5px;
  text-decoration: none;
  color: teal;
  -webkit-text-stroke: lightgreen 0.5px;
}

.nav-char {
  font-size: 25px;
  padding: 5px;
  background-color: black;
  border: solid lightgreen 2px;
  border-radius: 5px;
  text-decoration: none;
  color: teal;
  -webkit-text-stroke: lightgreen 0.5px;
}

.nav-home {
  font-size: 25px;
  padding: 5px;
  background-color: black;
  border: solid lightgreen 2px;
  border-radius: 5px;
  text-decoration: none;
  color: teal;
  -webkit-text-stroke: lightgreen 0.5px;
}

.nav-list:hover {
  font-size: 20px;
  text-decoration: none;
  color: teal;
  -webkit-text-stroke: lightgreen 0.5px;
}

.nav-char:hover {
  font-size: 20px;
  text-decoration: none;
  color: teal;
  -webkit-text-stroke: lightgreen 0.5px;
}

.nav-home:hover {
  font-size: 20px;
  text-decoration: none;
  color: teal;
  -webkit-text-stroke: lightgreen 0.5px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.single-img {
  height: 450px;
  margin-top: 20px;
  width: 40vw;
  border: solid lightgreen 1px;
  border-radius: 8px;
  padding: 10px;
}

.search-bar {
  border: solid lightgreen 3px;
  border-radius: 25px;
  background-color: black;
  color: lightgreen;
  width: 400px;
  height: 40px;
  font-size: 25px;
  padding-left: 10px;
}

.find-button {
  background-color: black;
  border: solid lightgreen 3px;
  border-radius: 14px;
  margin-left: 10px;
  color: lightgreen;
  margin-top: 1.5%;
  height: 40px;
}

.search-n-click {
  display: inline-flex;
  justify-content: center;
  margin-top: 3%;
}

button:focus {
  outline:0;
}

input:focus {
  outline-width: 0;
}

img:focus {
  visibility: hidden;
}

.home-img {
  margin-top: 30px;
  width: 420px;
  height: 420px;
  border-radius: 100%;
  animation: spin 7s linear infinite;
  transform: rotate3d()
}

@keyframes spin {
   100% {
      transform: rotate(360deg); 
    } 
  }

  .home-anim {  
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes float {
  from {
     transform: translate(0,  0px); 
    }
  50%  { 
    transform: translate(0, 15px); 
  }
  to   { 
    transform: translate(0, -0px); 
  }    
}

.char-anim {  
  animation-name: float2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes float2 {
from {
   transform: translate(0,  0px); 
  }
50%  { 
  transform: translate(0, 15px); 
}
to   { 
  transform: translate(0, -0px); 
  }    
}

.search-anim {  
  animation-name: float3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes float3 {
from {
   transform: translate(0,  0px); 
  }
50%  { 
  transform: translate(0, 15px); 
}
to   { 
  transform: translate(0, -0px); 
  }
}

.image {
  margin-top: 20px;
  border: solid lightgreen 1px;
  border-radius: 8px;
}

footer {
  color: lightgreen;
  margin-top: 3%;
}