.roster {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, 500px);
}

html {
  text-align: center;
  background-color: black;
  background: url("http://getwallpapers.com/wallpaper/full/1/e/c/1254729-desktop-space-backgrounds-1920x1080-notebook.jpg");
}

.image {
  margin-left: 15%;
  padding: 10px;
}

.roster-click {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47%;
  margin-bottom: 30%;
  margin-top: 10%;
}

.name {
  text-align: center;
}

.title {
  color: teal;
  font-size: 70px;
  -webkit-text-stroke: lightgreen 2px;
  /* font-family: 'get_schwifty'; */
}

.slogan {
  color: teal;
  font-size: 50px;
  -webkit-text-stroke: lightgreen 2px;
}

